{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
{% set classes = [
    'clear-both',
] %}
<div id="bloc-publicite">
	<div class="{{ content.class }}">
			{% if content.script %}
			{{ content.script|raw }}
			{% elseif content.img %}
			<a href="{{ content.url }}">
				<img src="{{ content.img }}" data-nid="{{ content.nid }}"/>
			</a>
			{% endif %}
	</div>
</div>
<script>
$ = jQuery;
$(function() {
	$.ajax({
		url: "{{ path_stat }}",
		data: "nid={{ content.nid }}",
		type: "POST",
		success: function(result, statut) {
			console.log(result)
		},
	});
});
</script>
